<div  ng-controller="askController" ng-init="getauser()">
  <header ng-controller="myController">
    <div data-role="header" data-position="fixed">
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" ui-sref="Smartanswers" ng-if="!isadminlogin">Smartanswers</a>
            <a class="navbar-brand" ui-sref="Smartanswers" ng-if="isadminlogin" ><center>Smartanswers Admin Panel</center></a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav" ng-if="!isadminlogin">
              <li><a ui-sref="topquestion" ng-if="isuserlogin">Top Question</a></li>
              <li><a ui-sref="about">About</a></li>
              <li><a ui-sref="help">Help</a></li>
              <li><a ui-sref="contact">Contact</a></li>
            </ul>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a ui-sref="login" ng-if="!isuserlogin && !isadminlogin" >Login</a></li>
            <li><a  ng-click="logout()" ng-if="isuserlogin||isadminlogin">Logout</a></li>
            <li><a ui-sref="welcome" ng-if="isuserlogin"> Welcome {{users.firstName}} </a></li>
            <li><a ui-sref="Adminpanel" ng-if="isadminlogin"> Welcome Admin </a></li>
            <li><a ui-sref="register" ng-if="!isuserlogin && !isadminlogin" >Signup</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>