<div ng-init="loadanswer()" ng-controller="askController">
  <form><center><h3>All Questions</h3></center>
    <hr>
    <div class="w3-twothird w3-container">
      <h3 class="w3-text-teal"></h3>
      <table>
        <br><br>
        <br>
        <div  ng-controller="tourController" dir-paginate="profile in users |filter:search|itemsPerPage:5">
          <div class="well well-lg">
       <a ng-click="answerpost(profile._id)" ng-model="profile.questionw"> {{ profile.questionw }} </a> <button onclick="alert('Delete Success')" ng-click="deletequestion(profile._id)">Delete</button><br>
            <br><hr>
          </div>
        </div>
      </table>
  <dir-pagination-controls
  max-size="5"
  direction-links="true"
  boundary-links="true" >
  </dir-pagination-controls>
</div>
